@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.rotate_card{
    transform: rotateY(180deg);
    transition: transform 1s;
}

.rotate{
    background-color: white;
    width: 10rem;
    min-height: 5rem;
    position: absolute;
    z-index: 100;
}